anyio
appnope
argon2-cffi
argon2-cffi-bindings
asttokens
attrs
backcall
backports.functools-lru-cache
beautifulsoup4
bleach
certifi==2022.9.24
cffi
click
contourpy
cycler
debugpy
decorator
defusedxml
entrypoints
executing
fastjsonschema
flit_core
fonttools
greenlet==2.0.0.post0
idna
importlib-metadata
importlib-resources
ipykernel
ipython
ipython-genutils==0.2.0
ipywidgets
jedi
Jinja2
jsonschema
jupyter-console
jupyter-server
jupyter_client
jupyter_core
jupyterlab-pygments
jupyterlab-widgets
kiwisolver
MarkupSafe
matplotlib
matplotlib-inline
mistune
msgpack==1.0.4
munkres==1.1.4
nbclassic
nbclient
nbconvert
nbformat
nest-asyncio
notebook
notebook_shim
numpy
packaging
pandas==1.5.1
pandocfilters
parso
pexpect
pickleshare
Pillow
pkgutil_resolve_name
ply==3.11
prometheus-client
prompt-toolkit
psutil
ptyprocess
pure-eval
pycparser
Pygments
pynvim==0.4.3
pyparsing
PyQt5-sip==12.11.0
pyrsistent
python-dateutil
pytz
pyzmq
qtconsole
QtPy
scipy==1.9.3
Send2Trash
sip
six
sniffio
soupsieve
stack-data
terminado
tinycss2
toml
tornado
traitlets
typing_extensions
wcwidth
webencodings==0.5.1
websocket-client
widgetsnbextension
zipp
